h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

body {
    background: repeating-linear-gradient(
  90deg,
  #e40808,
  #d8f004 10px,
  #e40808 40px,
  #d8f004 40px
  
 /*   transparent,
    transparent 10px,
    #000000 30px,
    #c9c9c9 30px */
);
}

p {
    color: #000000;
    /*font-size: xx-large;*/
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
}